%div.m-4
  %h1 Gems List
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} Name
        %th{:scope => "col"} Description
        %th{:scope => "col"} Date
        %th{:scope => "col"} CVE
    %tbody
      - @gemspacks.each do |page|
        %tr
          %td= page.gem_name
          %td= link_to page.description, "https://rubysec.com#{page.url}"
          %td= page.date.strftime("%F")
          %td= page.cve

  = will_paginate @gemspacks, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
